---
layout: default
title: Home
---
<div class="series">
<h1 class="series-title">Implementing Convolutional Neural Networks</h1>
<p>
A series of posts to understand the concepts and mathematics behind Convolutinal Neural Networks and implement your own CNN in Python and Numpy. Complete source code can be found <a href="https://github.com/parasdahal/deepnet">here</a>.
</p>
<ul>
  <li><a href="{{ site.baseurl }}cnn-series/intro">Introduction to Convolutional Neural Networks</a></li>
  <li><a href="{{ site.baseurl }}cnn-series/convlayer">Convolution Layer - The core idea behind CNNs</a></li>
  <li><a href="{{ site.baseurl }}cnn-series/maxpool">Maxpool Layer - Summarizing the output of Convolution Layer</a></li>
  <li><a href="{{ site.baseurl }}cnn-series/batchnorm">BatchNorm Layer - Understanding and eliminating Internal Covariance Shift</a></li>
  <li><a href="{{ site.baseurl }}cnn-series/dropout">Dropout Layer - The unconventional regularization technique</a></li>
  <li><a href="{{ site.baseurl }}cnn-series/softmax-crossentropy">Classification and Loss Evaluation - Softmax and Cross Entropy Loss</a></li>
  <li><a href="{{ site.baseurl }}cnn-series/sgd-momentum-adaptive">Solving the model - SGD, SGD with momentum and Adam</a></li>
</ul>
</div>
<hr>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {{ post.content }}

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>