.MathJax_Display{
  font-size: 0.95rem !important;
}
pre.highlight code{
  white-space: pre-wrap;
  
}

p img{
text-align: center !important;
margin: 0 auto !important;
}
.name{
}
.powered-by-sumo{
  display: none !important;
}
/* Header */
dt-header {
  display: block;
  position: relative;
  height: 60px;
  background-color: hsl(200, 60%, 15%);
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}
dt-header .content {
  height: 70px;
}
dt-header a {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 22px 0;
}
dt-header .social img{
  position: relative;
  top: 10px;
  height: 30px;
}
dt-header a:hover {
  color: rgba(255, 255, 255, 1);
}
dt-header svg {
  width: 24px;
  position: relative;
  top: 4px;
  margin-right: 2px;
}
@media(min-width: 1080px) {
  dt-header {
    height: 70px;
  }
  dt-header a {
    height: 70px;
    line-height: 70px;
    padding: 28px 0;
  }
  dt-header .logo {
  }
}
dt-header svg path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 3px;
}
dt-header .logo {
  font-size: 17px;
  font-weight: 200;
}
dt-header .nav {
  float: right;
  font-weight: 300;
}
dt-header .nav a {
  font-size: 12px;
  margin-left: 24px;
  text-transform: uppercase;
}

/* Posts */

h2.post-tag {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 12px;
}
.posts-list {
  margin-top: 12px;
  margin-bottom: 24px;
}

.posts-list .post-preview {
  text-decoration: none;
  overflow: hidden;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px 0;
}
.posts-list .post-preview:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.posts-list .post-preview h2 {
  margin: 0 0 6px 0;
  line-height: 1.2em;
  font-style: normal;
  font-size: 24px;
}

.posts-list .post-preview p {
  margin: 0 0 12px 0;
  line-height: 1.4em;
  font-size: 16px;
}

.posts-list .post-preview .thumbnail {
  box-sizing: border-box;
  margin-bottom: 24px;
  position: relative;
  max-width: 500px;
}
.posts-list .post-preview img {
  width: 100%;
  display: block;
}

.posts-list .metadata {
  font-size: 12px;
  line-height: 1.4em;
  margin-bottom: 18px;
}

@media(min-width: 768px) {
  .posts-list .post-preview h2 {
    font-size: 30px;
  }
  .posts-list {
    margin-top: 24px;
    margin-bottom: 60px;
  }
  .posts-list .post-preview .thumbnail {
    float: right;
    width: 35%;
    margin-bottom: 0;
  }
  .posts-list .post-preview .description {
    float: left;
    width: 40%;
  }
  .posts-list .post-preview .metadata {
    float: left;
    width: 15%;
    margin-top: 8px;
  }
  .posts-list .post-preview p {
    margin: 0 0 12px 0;
    line-height: 1.5em;
    font-size: 18px;
  }
}

@media(min-width: 1025px) {
  .posts-list {
    margin-top: 24px;
    margin-bottom: 60px;
  }
}

/* TOC */

#contents nav a {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: none;
  text-decoration: none;
}

#contents nav ul li {
  margin-bottom: .25em;
}

#contents nav a:hover {
  text-decoration: underline solid rgba(0, 0, 0, 0.6);
}

#contents nav details ul {
  margin-top: 0;
}

#contents nav details > a {
  margin-left: 1.06em;
}

#contents nav summary,
#contents nav > div,
#contents nav details > a {
  display: block;
  outline: none;
  margin-bottom: 0.5em;
}

#contents nav > div {
  margin-left: 1.06em;
}

#contents nav summary {
  cursor: context-menu;
}

#contents nav summary,
#contents nav > div > a {
  font-size: 13px;
  font-weight: 600;
}

/*Header*/
dt-article > h2{
  text-align: left !important;
}
dt-byline{
  width: 100vw !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

/* Table*/
.open-problem {
  display: flex;
  color: #333;
  background-color: hsla(206, 90%, 20%, 0.03);
  border-left: 3px solid hsla(206, 50%, 20%, 0.8);
  padding: 0.5em 2em;
  margin-bottom: 0.5em;
  counter-increment: problem;
  list-style: none !important;
}

.problem-number{
  font-size: 75%;
  font-weight: 600;
  color: hsla(206, 50%, 20%, 0.8);
  margin-right: 2em;
  white-space: nowrap;
}
.open-problem a{
font-size: 75%;
  font-weight: 600;
  margin-right: 2em;
  white-space: nowrap;
text-decoration: none !important;
border-bottom: none !important;
}

.open-problem p {
  margin-bottom: .55em;
}

.open-problem p:last-of-type {
  margin-bottom: 0;
}

/* typography edits */

/*--------[Desktop Only]--------*/
@media only screen and (min-width: 1180px){
  body.post > dt-article p{
  font-size: 18px !important;
  color: rgba(0, 0, 0, 0.8) !important;
  line-height: 29px !important;
}
body.post dt-article p, body.post dt-article h2, body.post dt-article h3, body.post dt-article ul, body.post dt-article ol{
  min-width: 800px
}
body.post dt-article img{
  max-width: 800px !important;
}
}

/* Table of contents 2019-07-30 */
.tableoc{
  display: flex;
  color: #333;
  background-color: hsla(206, 90%, 20%, 0.03);
  border-left: 3px solid hsla(206, 50%, 20%, 0.8);
  padding: 1em 2em;
  counter-increment: problem;

}

.tableoc li{
font-size: 14px !important;
}

.tableoc > ol{
list-style: square;
}

.toc-list li{
  margin-bottom: .5em;
}

.tableoc ol ol{
margin-left: 20px;
}
/*--------[Desktop Only]--------*/
@media only screen and (min-width: 1180px){
.tableoc{
  margin-top: 0px;
}
#main-content{
  margin-top: -70px;
}
div.highlight{
  width: 125% !important;
  margin-left: -12.5%;
}
}
/* Code editor theme 2019-07-30*/

pre > code {
  font-size:11px !important;
	position: relative !important;
	border-left: 10px solid #358ccb !important;
	box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf !important;
	background-color: #fdfdfd !important; 
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%) !important;
	background-size: 3em 3em !important; 
	background-origin: content-box !important;
	background-attachment: local !important;
}
code{
  color: black !important; 
	background: none !important;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
	font-size: 1em !important;
	text-align: left !important;
	white-space: pre !important;
	word-spacing: normal !important;
	word-break: normal !important;
	word-wrap: normal !important;
	line-height: 1.5 !important;

	-moz-tab-size: 4 !important;
	-o-tab-size: 4 !important;
	tab-size: 4 !important;

	-webkit-hyphens: none !important;
	-moz-hyphens: none !important;
	-ms-hyphens: none !important;
	hyphens: none !important;
}
.colab a{
  box-shadow: none !important;
  border: none !important;

}
.colab img{
  max-height: 20px !important;
    padding-bottom:10px !important;
}
.caption{
  font-size: 14px;
  line-height: 1.5em;
}

.deepnote-logo-header {
  max-height: 32px !important;
  position: relative;
  top: 14px;
  background-color: #fff;
  border-radius: 50px;
  margin-left: 15px;
}