<dt-header>
  <div class="content l-page">
    <a href="/" class="logo">
    <img src="/public/images/notebook.png" style="position:relative;top:10px;" alt="{{site.title}}"> {{site.title}}
    </a>
    <div class="nav">
        <a href="/about">About</a>
      <a href="https://github.com/parasdahal" class="social"><img src="/public/images/github.png"></a>
    <a href="https://www.linkedin.com/in/paras-dahal-1b206811b/" class="social"><img src="/public/images/linkedin.png"></a>
    <a href="https://twitter.com/parasdahal" class="social"><img src="/public/images/twitter.png"></a>
    </div>
  </div>
</dt-header>
